@import url(fonts.css);

body {
  font-family: dana !important;
}

h1, h2, h3, h4, h5, h6, p, div {
  @apply text-secondary-gray-dark dark:text-white;
}

a {
  @apply outline-none;
}

svg {
  margin: 0 !important;
}

.text-active * {
  @apply text-primary-yellow-light dark:text-primary-yellow-dark;
}

/* sweet alert */
.swal2-confirm {
  @apply bg-primary-yellow-light dark:bg-primary-yellow-dark dark:text-text-dark;
}

.swal2-icon, .swal2-warning, div:where(.swal2-icon).swal2-warning {
  @apply border-primary-yellow-light dark:border-primary-yellow-dark;
}

.swal2-popup {
  @apply bg-primary-gray-light dark:bg-primary-gray-dark;
}

/* sweet alert */


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}